    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="mailto:mike@whatsmycut.com">Contact</a></li>
        </ul>
      </nav>
      <h3 class="text-muted"><%= title %></h3>
    </div>
