<!DOCTYPE html>
<head>
  <title>Manage Social Test</title>
  <meta name="description" content="Manage Social Test">
  <meta property="og:description" content="Manage Social Test">
  <meta property="og:title" content="Manage Social Test">
  <meta name="keywords" content="template,engine,ejs">
  
  <meta http-equiv="cleartype" content="on">
  
  <meta name="apple-mobile-web-app-capable" content="no">
  
  
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
  
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="npm">

  <link rel="stylesheet" media="all" href="/css/styles.css">

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
  </head>